@charset "UTF-8";
:root{
    --roxo: #402B3C;
    --laranja1: #F27F3D;
    --laranja2: #D96236;
    --laranja3: #A64F3C;
    --preto: #0D0D0D;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, var(--laranja1), var(--laranja3));
    }
    .login{
        width: 80vw;
        height: 345px;
    }
    .imagem{
        float: left;
        width: 40%;
        height: 100%;
    }
    .formulario{
        float: right;
        width: 60%;
    }
    h1{
        font-size: 1.8em;
    }
    p{
        font-size: 1.1em;
        margin-bottom: 13px;
    }
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, var(--laranja1), var(--laranja3));
    }
    .login{
        width: 950px;
        height: 380px;
    }
    .imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    .formulario{
        float: left;
        width: 50%;
    }
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1.1em;
        margin-bottom: 12px;
    }
}