@charset "UTF-8";
:root{
    --roxo: #402B3C;
    --laranja1: #F27F3D;
    --laranja2: #D96236;
    --laranja3: #A64F3C;
    --preto: #0D0D0D;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, var(--laranja1), var(--laranja3));
    }
    .login{
        width: 80vw;
    }
    .imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    .formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, var(--laranja1), var(--laranja3));
    }
    .login{
        width: 950px;
    }
    .imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    .formulario{
        float: right;
        width: 50%;
    }
}